{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home_style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'open_close.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 

</head>
<body>
    <div class="info">
        <div class="logo"><a href=''>SociaLink</a></div>
        <div class="cont_news">
            <a href="/profile/{{user_profile.user.username}}" class="options" id="photo"><img src="{{user_profile.profile_img.url}}" class="profile_photo1" > &nbsp &nbsp {{user_profile.name}}</a>
            <a href="" class="options" id="news"><img src="{% static 'images/notify.png' %}" width="39.5em"> &nbsp &nbsp Notifications</a>
            <a href="javascript:openUpload();" class="options" if="mess"><img src="{% static 'images/upload.png' %}" width="41em"> &nbsp &nbsp Create a post</a>
        </div>    
        <div class="cont_options">
            <a href="/setting" class="options" id="settings"><img src="{% static 'images/settong_icon.png' %}" width="39.5em"> &nbsp &nbsp Settings</a>
            <a href="logout" class="options" id="logout"><img src="{% static 'images/log_out_icon.png' %}" width="40em"> &nbsp &nbsp Log Out</a>
        </div>
    </div>

    <div class=" header_search">
        <form action="/search" method="POST">
            {% csrf_token %}
            <input type="text" id = 'search' name="username" placeholder="Search">
            <button type="submit"></button>
        </form>
    </div>

    <div class="container2">
        {%if posts %}
        {% for post in posts reversed %}
        <div class="feed">
            <div class="feed-split">
                <div class="left">
                    <a href=""><img src="{{post.image.url}}" class="post_photo"></a>
                    <br>
                    <a href="/profile/{{post.user}}"><i><b>@{{post.user}}</b></i></a>
                    <span style="float: right;">{{post.created_at|naturaltime}}</span>
                </div>
            
                <div class="right"> 
                    <a href="{{post.image.url}}" download style="float:right; top:1%">
                        <img src="{% static 'images/save.png' %}" width = "25px">
                    </a>

                    <a href="/profile/{{post.user}}"><strong>@{{post.user}}   </strong></a> {{post.description}}
                    
                    
                    <br>
                    <br>
                    <div class="flex">
                        <a href="/like_post?post_id={{post.id}}" class="">
                            <img src="{% static 'images/like.png' %}" width = "25px">
                        </a>
                            {% if post.no_of_posts == 0 %}
                            <p>&nbsp No likes</p>
                            {% elif post.no_of_posts == 1%}
                            <p>&nbsp Liked by {{post.no_of_likes}} person</p>
                            {% else %}
                            <p>&nbsp Liked by {{post.no_of_likes}} people</p>
                            {% endif %}
                        
                    </div>
                    <br>
                    <form action="comment?post_id={{post.id}}" method="POST">
                        {% csrf_token %}
                        <div class="flex">
                            <img src="{{user_profile.profile_img.url}}" class="profile_photo2" width="23px">
                            <input type="text" name="text" placeholder="Post a comment..." class="inputs" style="height: 30px; border-radius: 2px; margin: 5px; outline: none;">
                            <button type="submit"><img src="{% static 'images/mess_icon.png' %}" width = "28px"></button>
                        </div>
                    </form>
                    {% if comments %}
                        {% for comment in comments%}
                            {% if comment.post_id|stringformat:"s" == post.id %}
                            <br>
                                <p><b>&nbsp &nbsp &nbsp @{{comment.username}} :</b> {{comment.text}}</p>
                                
                            {%endif%}
                        {% endfor %}
                    {% endif %}
                    {% if post.user == user_profile.user.username %}
                    <form action="post_delete?post_id={{post.id}}" method="POST">
                        {% csrf_token %}
                        <button type="submit"><img src="{% static 'images/del.png' %}" style="width:5%; position: absolute; bottom: 2%; right:2%" ></button>
                    </form>
                    {% endif %}

                </div>
        </div>

        </div>
        {% endfor %}
        <div class='uk-lightbox'>
            <a href="{{post.image.url}}">  
                <img src="{{post.image.url}}" alt="">
            </a>
        </div>
        {%endif%}

    </div>

    <div class="container">
        <div class="dropdown hidden">
            <button class="button close" onclick="closeUpload();">⨉</button>
            <form action="create_post" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <h3> Create a new post </h3>
                <hr>
                <br>
                <div>
                    <textarea class="inputs" name="description" placeholder="Caption..." ></textarea>
                    <input type="file" name="image_upload">
                </div>
                <div align="right">
                        <button class="button" type="submit"> Publish </button>
                </div>
            </form>
        </div>
    </div>
    

</body>
</html>


